/* paleta błękitno-fioletowa */

.html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.body {
  background-color: #d6d4a0;
  background-image: url('../img/backgrd1.jpeg');
  min-height: 100vh;
  background-position: center center;
  background-repeat: round;
  
}

.navigation {
  background: #cbef43;
  border-radius: 8px;
  padding: 16px;
}

.navigation__link {
  color: #348aa7;
  display: inline-block;
  margin-right: 40px;
}

.navigation__link:hover {
  color: red;
}


.navigation__link--homepage {
  background: #13c4a3;
}

.main {
  display: flex;
/* width: 100%; */
  border: 4px solid #ee0c21;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  padding: 10px;
}

.page__header {
  color: #a09be7;
  background: #635380;
  margin:15px;
}

.page__subheader {
  color: #4a051c;
  background: #a09be7;
  margin:15px;
}

.image {
  /* order:-1; */
  margin: 20px;
  align-self: flex-start;
}

.section {
  background: #a09be78a;
  width: 200px;
  /* width: 60%; */
  min-height: 200px;
  margin:5px;
  padding: 10px;
}

.section:hover {

  background: #505168;
}

.section--left {
  border: 3px dashed #348aa7;
  align-self: flex-start;
}

.section--middle {
  border: 3px dashed #c75146;
  align-self: center;
}

.section--right {
  border: 3px dashed #ffd520;
  align-self: flex-end;
}



.section__header {
  color: #b0ff92;
  background: #a09be7;
  margin: 5px;
}

.section__paragraph {
  color: #b0ff92;
  background: #072ac8;
  display: block;
  /* display: inline; */
  width: 150px;
  /* width: 70%; */
  /* width: 75vw; */
  min-height: 150px;
  padding: 5px 10px;
  border: 1px solid #cbef43;
  margin: 10px;
  /* box-sizing: border-box; */
}

.section__daynumber {

  background:#cf1259;
  border: 3px solid black;
  float: left;
  /* max-height: 20px; */
  /* position: sticky; */
}

.section__paragraph--oval {
  border-radius: 50px;
}

.section__paragraph--circle {
  border-radius: 50%;
  padding: 60px;
}

.section__link {
  color: #348aa7;
  background: #cbef43;
  display: block;
}

.section__link:hover {
  color: red;
}

.section--mood {
margin: 10px 0;
  width: 100%;
}

.table-section {
  background: #a09be7;
  margin:5px;
  padding: 10px;
  border: 3px dashed #cf1259;
  align-self: flex-start;
  order: 5000;
  width: 100%;
}

.section__header--table {
  color: #cf1259;
}


.table {

  width: 100%;
  border: 1px solid #cf1259;
}

.article {
  background: #348aa7;
  padding: 15px;
  margin: 10px;
  
}

.article__header {
  color: #cbef43;
}


.article__header::before {
  content: "BEFORE_____";
}

.article__paragraph {
  color: #cbef43;
  margin: 5px;
}

.article-mood {
  background: #a4bab7;
}

.article-mood__header {
  color: #635380;
}

.article-mood__paragraph {
  color: #49306b;
  margin: 15px;
}


.list {
 list-style: lower-greek;
}


.list--modification {
  list-style: square;
 }


.form {
background: #ff6700;

}

.form__label {

  background: #cbef43;
  width: 100%;
  display: inline-block;
}

.form__item {

  width: 100%;

}

.form__item--radio {

  width: 200px;
  display: block;

}

.tylish {
display: flex-coulumn;
  order: -1;
}

.footer {
  background: #c75146;
}

.footer__header {
  background: #cbef43;
}

.footer__paragraph {
  color: black;
}
