
/* paleta błękitno-fioletowa */

.b {

    background: #d6d4a0;
    display: block;
    position: relative;
}

.link {color: #348aa7;
display: block;
}

.link2 {color: #348aa7; background:#cbef43;
display: block;}

.sekcja-left {background: #a09be7;
width: 300px;
/* width: 60%; */
height: 100 px;
overflow: auto; 
border: 3px dashed #348aa7;
margin: 20px 10px;
box-sizing: border-box;
position: absolute;
left: 45px;
}



.sekcja-middle {background: #a09be7;
    width: 300px;
    /* width: 60%; */
    height: 100 px;
    overflow: auto; 
    border: 3px dashed #c75146;
    margin: 150px auto;
    }


.sekcja-right {background: #a09be7;
    width: 300px;
    /* width: 60%; */
    height: 100 px;
    overflow: auto; 
    border: 3px dashed #ffd520;
    /* margin: 10px; */
    box-sizing: border-box;
    position: absolute;
    right: 45px;
    }


.h1 {

    color: #a09be7;;
    background:   #635380;
}

.h2 {

    color: #b0ff92;
    background: #a09be7;
    
 }

 

.h3 {

    color: #635380
 }

.h5 {

    background:#cbef43;
}


.art {

    background: #348aa7;
    display: block;
}


.art-nastr {

    background: #a4bab7;
}

.h2-dod {

    color:#cbef43;
}


.par {

    color: #b0ff92;
    background: #072ac8;
    display: block;
    /* display: inline; */
    width: 150px;
    /* width: 70%; */
    /* width: 75vw; */
    min-height: 100px;
    padding: 5px 10px;
    border: 3px dashed #cbef43;
    /* box-sizing: border-box; */
}


.par-oval {

    color: #b0ff92;
    background: #072ac8;
    display: block;
    width: 150px;
    min-height: 100px;
    padding: 20px;
    border: 3px dashed #cbef43;
    border-radius: 50px;

}



.par-circle {

    color: #b0ff92;
    background: #072ac8;
    display: block;
    width: 100px;
    height: 100px;
    padding: 40px;
    border: 3px dashed #cbef43;
    border-radius: 50%;

}

.par-d {
    color: #cbef43;

}

.par-n {
    color: #49306b;

}

.par-f {
    color: #49306b;
}